.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  padding-bottom: 30px;
  margin: auto;
}

.page__section {
  margin: auto;
  max-width: 1280px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
