.profile {
  display: flex;
  align-content: center;
  justify-content: center;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  padding: 34px 0 20px;
  flex-wrap: wrap;
}

.profile__image {
  width: 190px;
  height: 190px;
  margin: 0 20px 0 0;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 420px;
}

.profile__name {
  width: 420px;
  margin: 0 auto 12px;
  color: #212121;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  color: rgba(33, 33, 33, 0.7);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn::before {
  content: url(../images/pencil.svg) "";
  width: 16px;
  height: 16px;
}

.profile__edit-btn:hover {
  opacity: 1;
  transition: 0.5s ease-in 0.3s;
  cursor: pointer;
}

.profile__edit-btn {
  color: #212121;
  opacity: 0.7;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: auto;
  border: none;
  background-color: transparent;
  color: #212121;
  text-wrap: nowrap;
  height: 16px;
  width: 107px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.profile__add-btn::before {
  content: url(../images/plus-sign.svg) "";
  width: 12px;
  height: 12px;
}

.profile__add-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
  transition: 0.5s ease-in 0.3s;
  cursor: pointer;
}

.profile__add-btn {
  display: flex;
  justify-content: center;
  max-width: 148px;
  gap: 8px;
  flex-direction: row;
  align-content: center;
  align-items: center;
  border: none;
  color: #fcf5e5;
  margin-left: auto;
  border-radius: 8px;
  height: 52px;
  margin-top: auto;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  background-color: #212121;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 149px;
  text-wrap: nowrap;
  flex-wrap: nowrap;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20px 16px;
  }
  .profile__name {
    max-width: 288px;
    margin: 12px auto 6px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
  .profile__column {
    margin: 0 0 20px;
    flex-wrap: nowrap;
  }
  .profile__description {
    text-align: center;
    margin-bottom: 32px;
  }
  .profile__image {
    margin: 0 auto;
    width: 80px;
    height: 80px;
  }
  .profile__edit-btn {
    margin: auto;
  }
  .profile__add-btn {
    min-width: 288px;
    margin: 0 auto;
  }
}
