.profile {
  display: flex;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  padding: 34px 0 20px;
}

.profile__image {
  width: 190px;
  height: 190px;
  margin: 0 20px 0 0;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  color: #212121;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  color: #212121;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn::before {
  background: url(../images/pencil.svg);
  content: url(../images/pencil.svg) "";
}

.profile__edit-btn {
  display: flex;
  justify-content: space-between;
  text-wrap: nowrap;
  margin-top: auto;
  border: none;
  background-color: transparent;
  color: #212121;
  height: 16px;
  width: 107px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.profile__add-btn::before {
  background: url(../images/plus-sign.svg) 12px 12px no-repeat center;
  content: url(../images/plus-sign.svg) "";
}

.profile__add-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  color: #fcf5e5;
  margin-left: auto;
  width: 149px;
  border-radius: 8px;
  height: 52px;
  margin-top: auto;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  background-color: #212121;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 16px;
  }
  .profile__name {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin: 12px 0 6px;
  }
  .profile__column {
    margin: 0 0 20px;
  }
  .profile__description {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 32px;
  }
  .profile__image {
    margin: 0 auto;
    width: 80px;
    height: 80px;
  }
  .profile__edit-btn {
    width: 107px;
    height: 16px;
    gap: 8px;
    margin: auto;
  }
  .profile__add-btn {
    width: 100%;
  }
}
